body {
    margin: auto;
    padding: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Encode Sans Condensed', sans-serif;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1rem;
}


header {
    background: #9D174D;
    margin: auto;
    height: 80px;
}

header .container {
    width: 90%;
    margin: auto;
}

header h1 {
    color: #FFE3DC;
    float: left;
    margin: 15px;
    text-align: center;
}

header li {
    color: #FFE3DC;
    float: right;
    padding: 10px;
    margin: 0px 10px;
    border: 1px solid #FFE3DC;
    border-radius: 5px;
}

header li:hover {
    background: #FFE3DC;
    transition: .5s;
}

header li a {
    text-decoration: none;
    color: #FFE3DC;
    font-size: 20px;
}

header li:hover a {
    color: #9D174D;
}

.konten {
    min-height: 90vh;
    padding: 5vw 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.konten .wrap-konten {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.konten .konten-kiri {
    width: 30%;
}

.konten .konten-kiri .wrap-img {
    width: 100%;
}

.konten .konten-kiri .wrap-img img {
    width: 100%;
    border-radius: 20px;
}

.konten .konten-kanan {
    width: 70%;
}

.konten .konten-kanan p {
    text-align: justify;
    padding: 5vw;
    font-size: 2rem;
}


















footer {
    background: #9D174D;
    margin: auto;
    height: 200px;
}

footer .container {
    width: 90%;
    margin: auto;
}

footer .items-footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

footer .item-footer {
    width: 30%;
    color: #FFE3DC;
}

footer .item-footer:nth-child(2) {
    display: flex;
}

footer .item-footer:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer .wrap-item:nth-child(1) {
    width: 30%;
}

footer .wrap-item:nth-child(2) {
    width: 70%;
}

footer .wrap-item:nth-child(2) a {
    text-decoration: none;
    color: #FFE3DC;
}

footer .wrap-item:nth-child(2) a:hover {
    text-decoration: none;
    color: #DBB4AD;
}

footer .item-footer i {
    color: #FFE3DC;
    margin: 0 10px;
}

footer .item-footer i:hover {
    color: #DBB4AD;
    cursor: pointer;
}